:root {
  --color-text-primary: rgb(42, 41, 41);
  --color-text-secondary: #666;
  --color-primary: #fd990b;
  --color-secondary: antiquewhite;
  --color-input-primary: #ccc;
  --color-input-secondary: #666;
  --color-button-primary: #ae3c33;
  --color-button-secondary: #cb0e00;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-primary);
  margin-top: 40px;
  margin-bottom: 40px;
}

img {
  max-width: 600px;
}

h1,
#top {
  color: var(--color-text-primary);
  text-align: center;
}

h1 span {
  display: block;
  font-size: 18px;
}

form {
  background-color: var(--color-secondary);
  text-align: center;
  max-width: 400px;
  border-radius: 20px;
  padding: 20px;
  margin: auto;
}

label {
  color: var(--color-text-secondary);
  font-size: 13px;
  font-weight: 500;
  padding-left: 5px;
  margin-top: 14px;
  float: left;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid var(--color-input-primary);
  border-radius: 20px;
  box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border: 2px solid var(--color-input-secondary);
}

textarea {
  font-family: "Poppins", sans-serif;
  resize: none;
}

button {
  background-color: var(--color-button-primary);
  color: white;
  font-weight: 600;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

button:hover {
  background-color: var(--color-button-secondary);
}
